<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
    <listener class-name="resources.Listeners"/>
    <listener class-name="resources.ExtentReporterNG"/>
    </listeners>
    <test name="C:/Users/John Mumo/Desktop/Agencify_App/Agencify_App_Test" preserve-order="true" verbose="2">
        <classes>
<!--            <class name="Agencify.Ecommerce_tc_2">-->
<!--                <methods>-->
<!--                    <include name="test"/>-->
<!--                </methods>-->
<!--            </class>-->
            <class name="Agencify.Login">
                <methods>
                    <include name="Login"/>
                </methods>
            </class>
            <class name="org.example.AppTest">
                <methods>
                    <include name="shouldAnswerWithTrue"/>
                </methods>
            </class>
        </classes>

    </test>

</suite>